/*****************************************************************/



/*****************************************************************/

/*************************** fonts *******************************/

/*********************** general style ***************************/

#escenario{
    background-image: url();
    width: 1200px;
    height: 673px;
    margin: auto;
}